@charset "UTF_8";

.result {width: 400px;height: 100px;margin: 0 auto;text-align: center;padding : 100px 0;}
.result p {font-size: 15px;font-family: "나눔고딕";}
input[type=button]{width: 150px;height: 40px;background-color: #DAE5D0;border: 0;border-radius: 40px 40px 40px 40px;font-size: 15px;font-family: "나눔고딕";}