.container button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container button {
  margin: 0;
  margin-left: 1%;
  margin-top: 5%;

  padding: 0.4rem 1.9rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 6px;
}

.container button {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.6s;
}

.container button:active,
.container button:hover,
.container button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
.container button:disabled {
  opacity: 0.5;
}

:root {
  --button-color: #8aa1a1;
  --button-bg-color: #dae5d0;
  --button-hover-bg-color: #a6bbc0;
}

.container button {
  background: var(--button-bg-color);
  color: var(--button-color);
}

.ok{
	
	margin: 0;
  margin-left: 1%;
  margin-top: 5%;

  padding: 0.4rem 1.9rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 6px;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.6s;
  background: var(--button-bg-color);
  color: var(--button-color);
}
.ok button:active,
.ok button:hover,
.ok button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
.ok button:disabled {
  opacity: 0.5;
}
