#etcmenu{
    float: right; border-bottom: 0px;
}

.replyTitle{width: 100px;float: left;}

.countreply{
    position: absolute;
    left: 900px;
    font-weight: normal;
    width: 100px;}

#etc { float: right;
       font-weight: normal;
       margin-top: 20px;
  
}
a:link{ color : black;
             text-decoration: none; }
a:visited{
         color : black;
    text-decoration: none;
    }
a:hover {
    color : green;
    text-decoration: none;
    }
a:active {
    color : green;
    text-decoration: none;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
.empty{
list-style: none;
padding-left: 0px;
}

.titleText {text-align: center;width: 1000px;font-size: 30px;}

#maintable{ 
position:absolute;
left: 20%;
top:200px;

width: 1000px; height: 700px; margin: auto 0; padding: auto;
        }
#maintable2{ 

position:absolute;
left: 20%;
top:700px;

width: 1000px; height: 200px; margin: auto 0; padding: auto;
margin-bottom: 30px;
        }

#replyarea{
width: 850px; height: 20px; margin: auto 0; padding: auto;
}

#reply{
position:absolute;
left: 20%;
top: 950px;
width: 1000px; height: 22px; margin: auto 0; padding: auto;
}

.inner, .bottom {text-align: left;}


#tablehead{
position:absolute;
left: 20%;
top:100px;
width: 1000px;
}

*{text-decoration: none;}

.subMenu{text-decoration: none;border-bottom: none;}


.btnMenu {
    width: 100px;
    height: 40px;
    background-color: #DAE5D0;
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-top: 30px;
    float: left;
    margin-right:20px;
    /* position: absolute;
    left: 80%;
    top: 950px; */
  }

  .btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #DAE5D0;
    text-decoration: none;
    color: black;
  }

  .btn1:hover {
    background-color: #DAE5D0;
    color: white;
  }

  #etcmenu:hover .drop-cont{display: block;}
  #etcmenu { position: relative;display: inline-block;}
  .drop-cont {padding: 0;border: 1px solid lightgray;background-color: #fff;position: absolute;top: 27px;left: 27px;z-index: 1; height: auto;display: none;}
  .drop-cont li{text-align: center;text-decoration: none;list-style: none;width: 100px;}
  .drop-cont li a:hover {background-color: #DAE5D0;}
  .drop-cont li a {transition: 0.2s;}

  .drop-cont li a:hover{background-color: #DAE5D0;}

