@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}

/* footer */
.footer h1 {
    float: left;
    text-align: left;
    color: gray;
    font-size: 1.1rem;
    line-height: 300%;
    margin-top: 75px;
    margin-left: 230px;
  }
  
  .footer h2 {
    float: right;
    text-align: left;
    color: gray;
    font-size: 1.1rem; 
    margin-right: 260px;
  }
  
  .footer {
  	
    width: auto;
    height: 300px;
    background: #f4f5f3da;
    position: relative;
    margin-top:60%;

  }
  img.centerlogo {
    width: 90px;
    margin-right: 300px;
    margin-left: 100px;
    margin-top: 110px;
  }
  /* footer end */