@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}

/* header */
.header {
  background: #f4f5f3da;
  width: auto;
  height: 120px;
  border-bottom: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 5px -1px rgba(0, 0, 0, 0.06);
  text-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 5px -1px rgba(0, 0, 0, 0.8);
}

.header img {
  float: left;
  width: 210px;
  margin-top: 50px;
  margin-left: 30px;
}


ul.headerMenu {
  width: 400px;
  height: 55px;
  float: right;
  list-style: none;
  margin-top: 55px;
  margin-left: 20px;
  text-shadow: 1px 1px 1px gray;
}
.headmenu {
  width: 130px;
  text-decoration: none;
  float: left;
  color: black;
  margin-left: 20px;
  
  font-weight: 600;
  font-size: 1.7rem;
  transition: 0.3s;
}

.headmenu:hover{
  color: #a0bcc2;
}
/* header end */