@charset "UTF-8";

  .pagination {
      margin-top: 0%;
      margin-left: 40%;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #DAE5D0;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #A0BCC2;
    color: black;
    border-radius: 5px;
  } 
