* {
    margin: 0 auto;
  } 

  .title{
    width: 1000px;
    height: 40px;
    margin-bottom: 30px;
    padding: 0 0 0 15px;
    font-size: 21px;
  }

  #table{  position:absolute;
  left: 30%;
  top:300px;
  width: 800px; height: 630px;}

  .write {position: absolute;right: 10px;}
      
  .btn {
    width: 100px;
    height: 40px;
    background-color: #DAE5D0;
    padding: 0px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    border: 2px solid #DAE5D0;
    border-radius: 5px ;
  }

 /*  .btn1 {
   border: 2px solid #DAE5D0;
    border-radius: 5px ;
    background-color: white; 
    color: black; 

  } */

  .btn:hover {
    background-color: #DAE5D0;
    color: white;
  }

  input[type=text] {
    margin-left: 0px !important;
    margin-top:  0px !important;
    width: 537px !important;
  }

  .note-btn-primary {
    margin-right: 10px !important;
    margin-top: -25px !important;
  }
  
   .titlearea{
    margin-left:130px;
    margin-top:20px;
  }
  #pName{
  text-align:center;
  }