@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}

/* sidebar on, off button */
input[id="menuicon"] {
  display: none;
}
input[id="menuicon"] + label {
  display: block;
  margin: 30px;
  width: 35px;
  height: 25px;
  position: fixed;
  cursor: pointer;
  z-index: 2;
}
input[id="menuicon"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: #a0bcc2;
  transition: all 0.35s;
}
input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="menuicon"]:checked + label {
  z-index: 2;
}
input[id="menuicon"]:checked + label span {
  background: #a0bcc2;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
/* sidebar on, off button end */

/*  sidebar */
div[class="sidebar"] {
  width: 280px;
  height: 100%;
  background: #fef5e4; /*#fefbe7*/
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 1;
  transition: all 0.5s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.4);
}
input[id="menuicon"]:checked + label + div {
  left: 0;
}
/*sidebar end*/

/* side bar logo */
.sidebar img {
  width: 210px;
  margin-top: 50px;
  float: right;
  margin-right: 35px;
}
/* sidebar logo end */

/* sidebar menu */
.accordianMenu {
  margin-top: 220px;
  padding: 0;
}

.accordion {
  background-color: #fef5e4;

  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  font-weight: 700;
  transition: 0.6s;
}

.active,
.accordion:hover {
  background-color: #f9ebc8;
}

.panel {
  padding: 0 18px 0;
  background-color: #f4f5f3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  list-style: none;
  line-height: 350%;
  font-weight: 600;
  transition: 0.2s;
}

.accmenu:hover {
  color: #a0bcc2;
}

.accmenu {
  text-decoration: none;
  font-size: 20px;
  color: #444;
  transition: 0.3s;
}

button.help-btn {
  margin-left: 120px;
  margin-top: 165px;
  width: 120px;
  height: 60px;
  border-radius: 20px;
  border: none;
  background-color: #fd8585;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.2s linear;
  color: black;
}

button.help-btn:hover {
  transform: scale(1.3);
}


/* sideber menu end */
