* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.3;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 50px;
  width: 170px;
}

body {
  width: 700px;
  margin: auto;
  padding: 0;
  margin-top: 5%;
  background-color: #fff;
}

/* tabMenu */
.tab {
  width: 1000px;
  height: 350px;
}

ul {
  list-style: none;
}

.tabmenu {
  width: 600px;
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  margin-right: 350px;
}
.tabmenu ul li {
  display: inline-block;
  width: 33.33%;
  /* float: left; */
  text-align: center;
  background: #f9f9f9;
  line-height: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.tabmenu .tm {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #8aa1a1;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.tabmenu .btncon {
  display: none;
}
.tabCon {
  display: none;
  padding: 15px;
  position: absolute;
  left: 0;
  top: 40px;
  box-sizing: border-box;
  border: none;
  height: 250px;
  width: 400px;
  margin-left: 100px;
  margin-top: 50px;
}
.tabmenu input:checked ~ .tm {
  background: #dae5d0;
}
.tabmenu input:checked ~ .tabCon {
  display: block;
}
/* tabMenu end */

.input-box {
  position: relative;
  margin: 10px 0;
}
/* 입력칸 테두리 없애고 bottom만 남김.*/
.input-box > .ld {
  background: none;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 0px 5px 0px;
  font-size: 14px;
  width: 100%;
}

input::placeholder {
  color: transparent;
}

input:placeholder-shown + .ls {
  color: #aaa;
  font-size: 14pt;
  top: 15px;
}

input:focus + .ls,
.ls {
  color: #8aa1a1;
  font-size: 10pt;
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px #8aa1a1;
  outline: none;
}

/* button */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  margin: 0;
  margin-left: 1%;
  margin-bottom: 50px;

  padding: 0.4rem 1.9rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 6px;
}

button {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.6s;
}

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

:root {
  --button-color: #8aa1a1;
  --button-bg-color: #dae5d0;
  --button-hover-bg-color: #a6bbc0;
}

button {
  background: var(--button-bg-color);
  color: var(--button-color);
}

.find {
  margin-right: 40px;
}
