header {
  display: flex;
  justify-content: center;
}

body {
  width: 400px;
  margin: auto;
  padding: 0;
  margin-top: 5%;
}

form {
  padding: 10px;
}

img {
  width: 170px;
}

.input-box {
  position: relative;
  margin: 10px 0;
}

.input-box > input {
  /* 입력칸 테두리 없애고 bottom만 남김.*/
  background: none;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 0px 5px 0px;
  font-size: 14px;
  width: 100%;
}

input::placeholder {
  color: transparent;
}

input:placeholder-shown + label {
  color: #aaa;
  font-size: 14pt;
  top: 15px;
}

input:focus + label,
label {
  color: #8aa1a1;
  font-size: 10pt;
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px #8aa1a1;
  outline: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  margin: 0;
  margin-left: 1%;
  margin-top: 5%;

  padding: 0.4rem 1.9rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 6px;
}

/* 버튼 */
button {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.6s;
}

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

:root {
  --button-color: #8aa1a1;
  --button-bg-color: #dae5d0;
  --button-hover-bg-color: #a6bbc0;
}

button {
  background: var(--button-bg-color);
  color: var(--button-color);
}

.logIn {
  margin-top: 25px;
}

.join {
  float: right;
  margin-top: 25px;
}
