@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sunflower", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 56.65vw;
  max-height: 100vh;
  max-width: 177.78vh;
}

.header {
  width: auto;
}

.leftside {
  float: left;
  position: relative;
  width: 40%;
  height: 0;
  overflow: hidden;
  height: 56.65vw;
}

.leftside .logo {
  width: 180px;
  margin-top: 60px;
  margin-left: 70px;
  transition: 0.3s;
  cursor: pointer;
}

.leftside .logo:hover {
  transform: scale(1.2);
}

.leftside .header {
  -webkit-animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.help-btn {
  margin-left: 90px;
  margin-top: 95%;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #fd8585;
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.2s linear;
}

.help-btn:hover {
  transform: scale(1.2);
}

.footer {
  -webkit-animation: slide-in-bottom 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.rightside {
  float: right;
  position: relative;
  width: 60%;
  height: 0;
  height: 56.65vw;
  overflow: hidden;
  background-color: #fef5e4;
  /* box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.4); */
}

.rightside .mainmenu {
  float: right;
  margin-right: 220px;
  margin-top: 60px;
  font-size: 7rem;
  color: black;
}

.rightside .list {
  margin-top: 230px;
  margin-left: 690px;
  line-height: 95px;
  font-size: 2.5rem;
  font-weight: 600;
}

.rightside .list li {
  transition: 0.4s;
}

.rightside .list li a {
  color: black;
}

.rightside .list li a:hover {
  color: #a0bcc2;
}

.rightside .list li:hover {
  transform: scale(1.2);
}

.rightside {
  -webkit-animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
