      * {
        margin: 0 auto;
      } 

      .container{
        height: 1200px;
      }
      #pName {
        margin-top: -100px;
        height: 120px;
      }

      #title{
        width: 800px;
        height: 50px;
        margin-bottom: 30px;
        padding: 0 0 0 15px;
        font-size: 21px;
      }

      #table{  position:absolute;
      left: 30%;
      top:300px;
      width: 800px; height: 630px;}

      #btn {
        float: right;
        margin-top: 40px;
      }

      #btn button {
        background-color: white; 
        color: black; 
        border: 2px solid #DAE5D0;
        text-decoration: none;
        color: black;
        width: 100px;
        height: 40px;
        font-size: 16px;
        margin: 4px 2px;
        text-decoration: none;
        cursor: pointer;
        padding: 0px;
        text-align: center;
      }

      #btn button:hover {
        background-color: #DAE5D0;
        color: white;
      }

      input[type=text] {
        margin-left: 0px !important;
        margin-top:  0px !important;
        width: 537px !important;
      }

      .note-btn-primary {
        margin-right: 10px !important;
        margin-top: -25px !important;
      }

      /* 검색창 */
      input[type=text] {
        width: auto;
        box-sizing: border-box;
        border: 1px solid #000;
        border-radius: 4px;
        font-size: 16px;
        color: #000;
        background-color: white;
        /* background-image: url('searchicon.png'); */
        /* background-position: 10px 10px;  */
        background-repeat: no-repeat;
        padding: 8px 20px 8px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        margin-left: -80px;
        margin-bottom: 80px;
        margin-top: 50px;
      }
      

      label {
        margin-right: 10px;
      }
      
