@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

header {
  display: flex;
  justify-content: center;
}

body {
  width: 400px;
  margin: auto;
  padding: 0;
  margin-top: 10%;
  background-color: #fff;
}

img {
  /* logo */
  width: 170px;
}

.announce {
  margin-top: 70px;
  text-align: center;
  margin-left: -100px;
  width: 600px;
  height: 20px;
  color: #aaa;
  font-size: 1.5rem;
}

button {
  margin: 0;
  margin-left: 1%;
  margin-top: 3%;

  padding: 0.4rem 1.9rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: 260px;

  border: none;
  border-radius: 6px;
}

button {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.6s;
  margin-left: 70px;
  margin-top: 100px;
}

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

:root {
  --button-color: #8aa1a1;
  --button-bg-color: #dae5d0;
  --button-hover-bg-color: #a6bbc0;
}

button {
  background: var(--button-bg-color);
  color: var(--button-color);
}
