@charset "UTF-8";

td, th {line-height: 30px;}
h3 {margin: 20px;}
h5 {background-color: #DAE5D0;width: 200px;height: 45px;text-align: center;padding: 10px;border-radius: 40px;}
table, h5{margin-left: 50px;}
table {margin-left: 70px;text-align: left;}
