
@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

*{
/* 	text-align: center; */
	font-family:'NanumSquare', sans-serif;
}
 
    /* layout */
    #container {width: 1600px;height: auto;}

    /* container */
    #container h1 {width: 1000px;margin: 30px auto;margin-top: 60px;}
    #container .accordion {width: 1000px;margin: 10px auto; }
    .form-check {width: 1000px;margin: 20px 5px;} 

    input[type=text], [type=tel], [type=email]{width: 300px;height: 25px;margin-left: 10px;}
    input[name=mention]{width: 700px;height: 300px;margin-left: 10px;}
    input[type=submit]{width: 200px;height: 30px;background-color: #DAE5D0;border: 0;border-radius: 40px 40px 40px 40px;font-size: 13px; margin-left: 10px;position: absolute;left: 1010px;}
    input[type=submit]:hover{box-shadow: #A0BCC2 1px 1px 8px;transition: 0.3s;}
    .text-box, .radio-box {font-size: 13px;margin: 20px 0;margin-left: 10px;}
    .info {font-size: 15px;}

    form {margin: 50px;  
    }

    .accordion-header, .accordion-body, .form-check-label {font-size: 15px;}
    
    input:not(:placeholder-shown){
        border-color: #a00;
    }
    input:valid{
        border-color: #0a0;
    }

    input{
        border-width: 1.5px;
        border-style: solid;
        border-radius: 10px;
        border-color: #000000; 
        outline: none;
        text-align: center;
    }

    select {width: 200px; height: 25px;padding-left: 10px; border: 1px solid #999; background: url(../images/arrow.jpeg) no-repeat 95% 50%; border-radius: 0px; -webkit-appearance: none; -moz-appearance: none;appearance: none;}

    select::-ms-expand {display: none;}