@charset "UTF_8";

/* layout */
#wrap {width: 1600px;height: 1200px;margin: 0 auto;}
#header {width: 1300px;height: 50px;}
#side {width: 300px;height: 1400px;font: 16px #000;font-family: "나눔고딕";}
#container {width: 1300px;height: 1350px;}
#footer {width: 1600px;height: 200px;}

/* header */
#header {position: absolute;top: 0;left: 300px;background-color: #ccc;}

/* side */
#side {position: absolute;top: 0;left: 0;background-color: #F9EBC8;}
#side .box1 {width: 300px;height: auto;position: absolute; top: 30px;left: 0;text-align: center;}
#side .box2 {width: 300px;height: auto;position: absolute; margin: 0 auto;top: 185px;left: 0;text-align: center;}
.gnb, .sub, li {list-style-type: none;padding: 10px;}
.box2 a {text-decoration: none;color: inherit;}

/* container */
#container {position: absolute;top: 50px;left:300px; background-color: #fff;}

/* footer */
#footer {position: absolute;top: 1400px;left: 0;background-color: #A0BCC2;}
