@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap");

@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sunflower", sans-serif;
}

/* header */
.header {
  background: #a0bcc2;
  width: auto;
  height: 70px;
  position: reltive;
  border-bottom: 2px solid;
  border-color: #a0bcc2;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.header img {
  float: left;
  width: 210px;
  margin-top: 22px;
  margin-left: 30px;
}
ul.headerMenu {
  width: 400px;
  height: 50px;
  float: right;
  list-style: none;
  margin-top: 21px;
  margin-left: 20px;
  text-shadow: 1px 1px 2px gray;
}
.headermenu {
  text-decoration: none;
  margin-right: 10px;
  float: left;
  font-size: 1.4rem;
  color: white;
  font-weight: 550;
  margin-left: 80px;
  text-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 23px;
}
/* header end */

.container {
  width: auto;
  height: 1000px;
  margin-top: 100px;
  text-align: center;
}

/* footer */
.footer h1 {
  text-align: center;
  color: black;
}

.footer {
  width: auto;
  height: 200px;
  background: #f4f5f3da;
  position: relative;
}
/* footer end */

/* sidebar on, off button */
input[id="menuicon"] {
  display: none;
}
input[id="menuicon"] + label {
  display: block;
  margin: 30px;
  width: 35px;
  height: 25px;
  position: fixed;
  cursor: pointer;
  z-index: 2;
}
input[id="menuicon"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: #a0bcc2;
  transition: all 0.35s;
}
input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="menuicon"]:checked + label {
  z-index: 2;
}
input[id="menuicon"]:checked + label span {
  background: #a0bcc2;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
/* sidebar on, off button end */

/*  sidebar */
div[class="sidebar"] {
  width: 280px;
  height: 100%;
  background: #fefbe7;
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 1;
  transition: all 0.5s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.4);
}
input[id="menuicon"]:checked + label + div {
  left: 0;
}
/*sidebar end*/

/* side bar logo */
.sidebar img {
  width: 210px;
  margin-top: 23px;
  float: right;
  margin-right: 35px;
}
/* sidebar logo end */

/* sidebar menu */
.accordianMenu {
  margin-top: 220px;
}

.accordion {
  background-color: #fefbe7;

  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 25px;
  font-weight: 600;
  transition: 0.6s;
}

.active,
.accordion:hover {
  background-color: #f9ebc8;
}

.panel {
  padding: 0 18px;
  background-color: #f4f5f3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  list-style: none;
  line-height: 350%;
  font-weight: 600;
}

.accmenu {
  text-decoration: none;
  font-size: 20px;
  color: #444;
}
/* sideber menu end */

