@charset "UTF-8";

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}

/* header */
.header {
  background: #f4f5f3da;
  width: auto;
  height: 120px;
  border-bottom: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 5px -1px rgba(0, 0, 0, 0.06);
  text-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 5px -1px rgba(0, 0, 0, 0.8);
}

.header img {
  float: left;
  width: 210px;
  margin-top: 50px;
  margin-left: 30px;
}


ul.headerMenu {
  width: 400px;
  height: 55px;
  float: right;
  list-style: none;
  margin-top: 55px;
  margin-left: 20px;
  text-shadow: 1px 1px 1px gray;
}
.headmenu {
  width: 130px;
  text-decoration: none;
  float: left;
  color: black;
  margin-left: 20px;
  
  font-weight: 600;
  font-size: 1.7rem;
  transition: 0.3s;
}

.headmenu:hover{
  color: #a0bcc2;
}
/* header end */

.container {
  width: auto;
  height: 2000px;
  margin-top: 100px;
  text-align: center;
}

/* footer */
.footer h1 {
  float: left;
  text-align: left;
  color: gray;
  font-size: 1.1rem;
  line-height: 300%;
  margin-top: 75px;
  margin-left: 230px;
}

.footer h2 {
  float: right;
  text-align: left;
  color: gray;
  font-size: 1.1rem; 
  margin-right: 260px;
}

.footer {
  width: auto;
  height: 300px;
  background: #f4f5f3da;
  position: relative;
}
img.centerlogo {
  width: 90px;
  margin-right: 300px;
  margin-left: 100px;
  margin-top: 110px;
}
/* footer end */

/* sidebar on, off button */
input[id="menuicon"] {
  display: none;
}
input[id="menuicon"] + label {
  display: block;
  margin: 30px;
  width: 35px;
  height: 25px;
  position: fixed;
  cursor: pointer;
  z-index: 2;
}
input[id="menuicon"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: #a0bcc2;
  transition: all 0.35s;
}
input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="menuicon"]:checked + label {
  z-index: 2;
}
input[id="menuicon"]:checked + label span {
  background: #a0bcc2;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
/* sidebar on, off button end */

/*  sidebar */
div[class="sidebar"] {
  width: 280px;
  height: 100%;
  background: #fef5e4; /*#fefbe7*/
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 1;
  transition: all 0.5s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.4);
}
input[id="menuicon"]:checked + label + div {
  left: 0;
}
/*sidebar end*/

/* side bar logo */
.sidebar img {
  width: 210px;
  margin-top: 50px;
  float: right;
  margin-right: 35px;
}
/* sidebar logo end */

/* sidebar menu */
.accordianMenu {
  margin-top: 220px;
}

.accordion {
  background-color: #fef5e4;

  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  font-weight: 700;
  transition: 0.6s;
}

.active,
.accordion:hover {
  background-color: #f9ebc8;
}

.panel {
  padding: 0 18px;
  background-color: #f4f5f3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  list-style: none;
  line-height: 350%;
  font-weight: 600;
  transition: 0.2s;
}

.accmenu:hover {
  color: #a0bcc2;
}

.accmenu {
  text-decoration: none;
  font-size: 20px;
  color: #444;
  transition: 0.3s;
}
/* sideber menu end */
