@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}


.container {
  width: auto;
  height: 2000px;
  margin-top: 100px;
  text-align: center;
}


/* container */

.container {
  width: auto;
  height: 2000px;
  margin-top: 100px;
  text-align: center;
}

.caption{
  font-size: 30px; 
  text-align: center;
}

/* button */

.okbutton{

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;



  margin: 0;
  margin-left: 1%;
  margin-top: 5%;

  padding: 0.4rem 1.9rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 6px;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.6s;

  --button-color: #8aa1a1;
  --button-bg-color: #dae5d0;
  --button-hover-bg-color: #a6bbc0;


  background: var(--button-bg-color);
  color: var(--button-color);


}
  .okbutton:active,
  .okbutton:hover,
  .okbutton:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
  }
  .okbutton:disabled {
    opacity: 0.5;
  }

