@charset "UTF-8";

li {float: left; margin: 10px;}

table {
border-collapse: collapse;
border-spacing: 0;
}
.container {
padding: 80px 0;

}

.page-title {
margin-bottom: 60px;
}

.page-title h3 {
font-size: 28px;
color: #333333;
font-weight: 400 bolder;

}

#board-search .search-window {
padding: 15px 0;
background-color: #DAE5D0;
height: 70px;
}
#board-search .search-window .search-wrap {
position: relative;
/*   padding-right: 124px; */
margin: 0 auto;
width: 80%;
max-width: 564px;
display: block;
}
#board-search .search-window .search-wrap input {
height: 40px;
width: 100%;
font-size: 14px;
padding: 7px 14px;
border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
border-color: #000000;
outline: 0;
border-width: 1px;
}
#board-search .search-window .search-wrap .btn {
position: absolute;
right: 0;
top: 0;
bottom: 0;
width: 108px;
padding: 0;
font-size: 16px;
}

.board-table {
font-size: 13px;
width: 100%;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.board-table a {
color: #333;
display: inline-block;
line-height: 1.4;
word-break: break-all;
vertical-align: middle;
}
.board-table a:hover {
text-decoration: underline;
}
.board-table th {
text-align: center;
}

.board-table .th-num {
width: 100px;
text-align: center;
}

.board-table .th-date {
width: 200px;
}

.board-table th, .board-table td {
padding: 14px 0;
}

.board-table tbody td {
border-top: 1px solid #e7e7e7;
text-align: center;
}

.board-table tbody th {
padding-left: 28px;
padding-right: 14px;
border-top: 1px solid #e7e7e7;
text-align: left;
}

.board-table tbody th p{
display: none;
}

.btn {
display: inline-block;
padding: 0 30px;
font-size: 15px;
font-weight: 400;
background: transparent;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
text-transform: uppercase;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-ms-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

.btn-dark {
background: #555;
color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
background: #373737;
border-color: #373737;
color: #fff;
}

.btn-dark {
background: #555;
color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
background: #373737;
border-color: #373737;
color: #fff;
}

/* reset */

* {
list-style: none;
text-decoration: none;
padding: 0;
margin: 0;
box-sizing: border-box;
}
.clearfix:after {
content: '';
display: block;
clear: both;
}
.container {
width: 1600px;
height: 1000px;
display: block;
margin: 0 auto;
}
.blind {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
margin: -1px;
width: 1px;
height: 1px;
}

.content{margin: 0 auto;}

.dropdown{
    position : relative;
    display : inline-block;
  }
  
  .dropbtn_icon{
    font-family : 'Material Icons';
  }
  .dropbtn{
    border : 1px solid rgb(37, 37, 37);
    border-radius : 4px;
    background-color: #f5f5f5;
    font-weight: 400;
    color : rgb(37, 37, 37);
    padding : 12px;
    width :200px;
    text-align: left;
    cursor : pointer;
    font-size : 12px;
  }
  .dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 200px;
  }
  
  .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
  }
  
  .dropdown-content a:hover{
    background-color : #ececec
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn {text-align: center;margin-left: 20px;margin-top: 15px;}
  .dropdown-content {margin-left:20px;}
  .dropdown {float: left;}
  .search-wrap {float: right;position: absolute;right: 20px;}

  .pagination {
      margin-top: 40%;
      margin-left: 40%;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #DAE5D0;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #A0BCC2;
    color: black;
    border-radius: 5px;
  }

/* button */

  .okbutton{

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    

   
      margin: 0;
      margin-left: 1%;
      margin-top: 5%;

      padding: 0.4rem 1.9rem;

      font-family: "Noto Sans KR", sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      text-decoration: none;

      display: inline-block;
      width: auto;

      border: none;
      border-radius: 6px;
  
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

      cursor: pointer;

      transition: 0.6s;
 
      --button-color: #8aa1a1;
      --button-bg-color: #dae5d0;
      --button-hover-bg-color: #a6bbc0;
    

      background: var(--button-bg-color);
      color: var(--button-color);

      margin-left: 600px;
    
  }
      .okbutton:active,
      .okbutton:hover,
      .okbutton:focus {
        background: var(--button-hover-bg-color);
        outline: 0;
      }
      .okbutton:disabled {
        opacity: 0.5;
      }
  