@charset "EUC-KR";

* {
  margin: 0;
  padding: 0;}
  
  .page-title{
  	width: auto;
   margin-top: 100px;
  text-align: center;
  }
  
  #maintable{
   text-align: center;
  }
  
  .btnMenu {
    width: 100px;
    height: 40px;
    background-color: #DAE5D0;
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: black;
    /* position: absolute;
    left: 80%;
    top: 950px; */
  }

  .btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #DAE5D0;
    border-radius: 5px ;
    text-decoration: none;
    color: black;
  }

  .btn1:hover {
    background-color: #DAE5D0;
    color: white;
  }