@charset "UTF-8";
.accordianMenu p { 
    font-size: 40px;
}
#box {
    width: 1500px; 
    height: auto; 
    background-color: #f9ebc8;
    padding: 50px;
    margin-top: 100px
}  
#select { 
    width: 400px;
}  
#box2 { 
    width: 1400px; 
    height: 800px; 
    background-color: #fff; 
    padding: 30px;
}
td, th {
    line-height: 30px;
}
h3 {
    margin: 20px;
}
h5 {
    background-color: #DAE5D0;
    width: 200px;
    height: 45px;
    text-align: center;
    padding: 10px;
    border-radius: 40px;
}
table, h5{
    margin-left: 50px;
}
table {
    margin-left: 70px;
    text-align: left;
}