@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

.accordianMenu p { 
    font-size: 40px;
}
#box {
    width: 1400px; 
    height: auto; 
    background-color: #f9ebc8;
    padding: 50px;
    margin-top: 100px;
    margin-left: 600px;
    margin-bottom: 100px;
}
#box2 { 
    width: 1300px; 
    height: auto; 
    background-color: #fff; 
    padding: 30px;
}
	



    input[type=text], [type=tel], [type=email]{width: 300px;height: 25px;font-family: 'NanumSquare', sans-serif;}
    input[name=mention]{width: 700px;height: 300px;font-family: 'NanumSquare', sans-serif;}
   
    .text-box, .radio-box {font-size: 13px;margin: 20px 0;font-family: 'NanumSquare', sans-serif;}
    .info {font-size: 15px;font-family: 'NanumSquare', sans-serif;}

    form {margin: 50px;  font-family: 'NanumSquare', sans-serif;
    }

    .accordion-header, .accordion-body, .form-check-label {font-family: 'NanumSquare', sans-serif;font-size: 15px;}
    