.accordianMenu p {
    font-size: 40px;
}
#title { 
    width: 300px;
    height: 80px; 
    background-color: #fefbe7; 
    padding: 17px; 
    border-radius: 30px; 
    border: solid 1px #f9ebc8;
}
#box {
    width: 1500px; 
    height: auto; 
    background-color: #f9ebc8;
    padding: 50px;
} 
#select { 
    width: 450px;
}
#box2 { 
    width: 1400px; 
    height: auto; 
    background-color: #fff;
}
#ddd {
    width: 1000px; 
    margin-left: 100px;
}

.title{
  margin-bottom: 50px;
}
.petImg{
  margin-left: 80px;
  margin-top: 50px;
}
/* .petImg, .info .btn-group {
  margin: center;
} */
.info {
  margin-top: -290px;
  margin-left: 610px;
  margin-bottom: 60px;
  padding: 10px;
  width: 400px;
}
.btn{
  margin-top: 20px;
  margin-bottom: 10px;
}
.carousel{
  width: 500px;height: 300px;
}
.aimg{
  width: 500px;height: 300px;
}
.status {
  background-color : #DAE5D0;border-radius: 40%;width: 80px;height: 20px;
  display: table-cell;vertical-align: middle;text-align:center;
}
table {
  margin: 10px;line-height: 30px;
}
.btn-group {
  width: 500px;clear: both;
}

.textBtn {
  width: 100px;
  height: 40px;
  background-color: #DAE5D0;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-top: 20px;
  float: left;
  margin-right:20px;
}

.textBtn{
  background-color: white; 
  color: black; 
  border: 2px solid #DAE5D0;
  text-decoration: none;
  color: black;
}

.textBtn:hover {
  background-color: #DAE5D0;
  color: white;
}
.text{
  margin-bottom: -67px;
}
.textMap{
  margin-left: 1050px;
}
/* 글내용 div */
.wText{
  margin-top: 60px;
  width: 800px;

}
/* 글내용 */
.pText{
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 60px;
  width: 900px;
  
}

.replyTitle{
  width: 100px;
}

.countreply {
  position: absolute; 
  width: 100px; 
  left: 1350px;
  height: 46px;
  border: none;
}

/* 댓글작성 */
#exampleFormControlTextarea1 {
  width: 850px;        
}

/* 댓글이랑 댓글 작성 사이 */
#replyarea {
  margin-top: 50px;
}

.btnMenu {
  width: 100px;
  height: 40px;
  background-color: #DAE5D0;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: black;
  /* margin-top: 20px; */
  float: left;
  /* margin-right:20px; */
  position: absolute;
  /* left: 1100px;
  top: 950px; */
  float: left;
}

.btn1{
background-color: white; 
color: black; 
border: 2px solid #DAE5D0;
text-decoration: none;
color: black;
margin-top: -55px;
margin-left: 400px;
}
.tBtn{
background-color: white; 
color: black; 
border: 2px solid #DAE5D0;
text-decoration: none;
color: black;
margin-left: -173px;
margin-top: 20px;
}
.gBtn{
background-color: white; 
color: black; 
border: 2px solid #DAE5D0;
text-decoration: none;
color: black;
margin-left: -75px;
margin-top: 20px;
}
.bBtn{
background-color: white; 
color: black; 
border: 2px solid #DAE5D0;
text-decoration: none;
color: black;
margin-left: 22px;
margin-top: 20px;
}

.btn1:hover, .tBtn:hover, .gBtn:hover, .bBtn:hover, .plus:hover, .reWrite:hover, .dlt:hover {
background-color: #DAE5D0;
color: white;
}

.plus{
background-color: white; 
color: black; 
border: 2px solid #DAE5D0;
text-decoration: none;
color: black;
margin-left: -490px;
}
.reWrite{
background-color: white; 
color: black; 
border: 2px solid #DAE5D0;
text-decoration: none;
color: black;
margin-left: -392px;
}

.dlt{
background-color: white; 
color: black; 
border: 2px solid #DAE5D0;
text-decoration: none;
color: black;
margin-left: -294px;
}
