@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
.accordianMenu p {
    font-size: 40px;
}
#title { 
    width: 300px;
    height: 80px; 
    background-color: #fefbe7; 
    padding: 17px; 
    border-radius: 30px; 
    border: solid 1px #f9ebc8;
}
#box {
    width: 1500px; 
    height: auto; 
    background-color: #f9ebc8;
    padding: 50px;
}  
#select { 
    width: 450px;
}
#box2 { 
    width: 1400px; 
    height: auto; 
    background-color: #fff;
}
.features {
  
    padding: 60px 0;
  }
  .page-title {
    margin-top: 30px;
    margin-bottom: 60px;
    }
    
    .page-title h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 400 bolder;
    
    }
  .features ul {
    margin-left: -15px;
    margin-right: -15px;
  }
  .features ul li {
    width: 32%;
    float: left;
    padding: 15px;
  }
  .features .item .thumb {
    height: 220px;
    background-size: cover;
    object-fit:cover;
  }
  
  .features .item .thumb img{
    object-fit:cover;
    height: 220px;
    width: 100%;
  }
  .features .item {
    box-shadow: 1px 2px 10px rgba(0,0,0,.3);
    transition: all 0.8s;
  }
  .features .item:hover {
    box-shadow: 2px 3px 25px rgba(0,0,0,.3);
  }
  .features .item .desc {
    padding: 20px;
  }
  .features .item .desc h5 {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  
  .features .item .desc h5 a {
      text-decoration: none;
      color: black;
  }
  
  .features .item .desc p {
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .features .item .desc .detail > span {
    color: #999;
    font-size: 13px;
    margin-right: 7px;
    display: inline-block;
  }
  .features .item .desc .detail > span.likes {
    float: right;
    color: #ff4545;
    z-index: 1;
    position: relative;
  }

  .menu {position: relative;top: 20px; left: 50px;width: 300px;}

  .btnMenu {
    width: 100px;
    height: 40px;
    background-color: #DAE5D0;
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    float: left;
    margin-right:20px;
  }

  .btn1, .btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #DAE5D0;
    text-decoration: none;
    color: black;
  }

  .btn1:hover, .btn2:hover {
    background-color: #DAE5D0;
    color: white;
  }

  .search-wrap {float: right;position: absolute;right: 20px;}

  #board-search .search-window {
    padding: 15px 0;
    height: 70px;
    }

    #board-search .search-window .search-wrap {
    position: relative;
    /*   padding-right: 124px; */
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
    display: block;
    }
    #board-search .search-window .search-wrap input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
    }

  #board-search .search-window .search-wrap input:focus {
    border-color: #000000;
    outline: 0;
    border-width: 1px;
    }
    #board-search .search-window .search-wrap .btn {
    position: absolute;
    right: -3px;
    top: 24px;
    bottom: 0;
    width: 108px;
    padding: 0;
    font-size: 16px;
    height: 40px;
    }


     .pagination {
      margin-top: 0%;
      margin-left: 40%;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #DAE5D0;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #A0BCC2;
    color: black;
    border-radius: 5px;
  } 

