@charset "UTF-8";

.accordianMenu p { 
    font-size: 40px;
}
#title { 
    width: 300px;
    height: 80px; 
    background-color: #fefbe7; 
    padding: 17px; 
    border-radius: 30px; 
    border: solid 1px #f9ebc8;
}
#box {
    width: 1500px; 
    height: auto; 
    background-color: #f9ebc8;
    padding: 50px;
}  
#select { 
    width: 450px;
}
#box2 { 
    width: 1400px; 
    background-color: #fff;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.board-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}
.board-table a:hover {
    text-decoration: underline;
}
.board-table th {
    text-align: center;
}
.board-table .th-num {
    width: 100px;
    text-align: center;
}
.board-table .th-date {
    width: 200px;
}
.board-table th, .board-table td {
    padding: 14px 0;
}
.board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
}
.board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
}
.board-table tbody th p{
    display: none;
}

/* reset */
.pagination {
    margin-top: 30%;
    margin-left: 40%;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #DAE5D0;
    color: white;
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: #A0BCC2;
    color: black;
    border-radius: 5px;
}    