@charset "UTF-8";

.accordianMenu p {
    font-size: 40px;
}
      
.box1 {
    background: #f9ebc8;
    width: 1200px; 
    height: 600px; 
    margin: 45px;
    margin-top: 100px; 
    border-radius: 20px; 
    padding: 10px;
    position: relative;
}
.box3 { 
    background-color: #fff; 
    width: 1120px;
    height: 480px; 
    margin-left: 30px; 
    margin-bottom: 30px; 
    border-radius: 20px; 
    z-index: 10px; 
    position: relative;
}
#revise {
    position: absolute; 
    top: 75%; 
    left: 83%;
}
img {
    width: 50px;
    height: 50px;
}
#password { 
    position: absolute; 
    top: 85%; 
    left: 80%; 
    margin: 20px;
}
#mbutton {
    background-color: #dae5d0; 
    float: left;
} 
#table {
    border: none;
} 
thead {
    border: none;
}
tbody {
    border: none;
}
td {
    font-size: 30px;
    
}
input[type=password]{font-family: 'MalgunGothic';}
input[type=password]::placeholder{font-family: 'NanumSquare';}