@charset "UTF-8";
  .accordianMenu p { 
    font-size: 40px;
  }

  #box {
    width: 1600px; 
    height: auto; 
    background-color: #f9ebc8;
    padding: 50px;
    margin-top: 100px;
  }  
 
  #box2 { 
    width: 1500px; 
    height: 800px;
    background-color: #fff;
    padding: 30px;
  }
 
  .features ul {
    margin-left: -15px;
    margin-right: -15px;
    list-style: none;
  }
  .features ul li {
    width: 32%;
    float: left;
    padding: 15px;
  }
  .features .item .thumb {
    height: 220px;
    background-size: cover;
    object-fit:cover;
  }
  
  .features .item .thumb img{
    object-fit:cover;
    height: 220px;
    width: 100%;
  }
  .features .item {
    box-shadow: 1px 2px 10px rgba(0,0,0,.3);
    transition: all 0.8s;
  }
  .features .item:hover {
    box-shadow: 2px 3px 25px rgba(0,0,0,.3);
  }
  .features .item .desc {
    padding: 20px;
  }
  .features .item .desc h5 {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  
  .features .item .desc h5 a {
      text-decoration: none;
      color: black;
  }
  
  .features .item .desc p {
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .features .item .desc .detail > span {
    color: #999;
    font-size: 13px;
    margin-right: 7px;
    display: inline-block;
  }
  .features .item .desc .detail > span.likes {
    float: right;
    color: #ff4545;
    z-index: 1;
    position: relative;
  }

