@charset "UTF-8";


.accordianMenu p {
  font-size: 40px;
}
#box {
  width: 1500px; 
  height: 1000px; 
  background-color: #f9ebc8;
  padding: 50px;
  margin-top: 100px;
}  
#select { 
  width: 400px;
}  
#box2 { 
  width: 1400px; 
  height: 900px; 
  background-color: #fff; 
  padding: 30px;
  padding-bottom: 150px;
  position: relative;
}
#box2 #success , #box2 #back {
  position: absolute;
}
#box2 #success{
	top: 85%;
	left: 37%;
}
#box2 #back{
	top: 85%;
	left: 52%;
}
.page-title {
margin-bottom: 60px;
}

#board-search .search-window {
padding: 15px 0;
background-color: #DAE5D0;
height: 70px;
}
#board-search .search-window .search-wrap {
position: relative;
/*   padding-right: 124px; */
margin: 0 auto;
width: 80%;
max-width: 564px;
display: block;
}
#board-search .search-window .search-wrap input {
height: 40px;
width: 100%;
font-size: 14px;
padding: 7px 14px;
border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
border-color: #000000;
outline: 0;
border-width: 1px;
}
#board-search .search-window .search-wrap .btn {
position: absolute;
right: 0;
top: 0;
bottom: 0;
width: 108px;
padding: 0;
font-size: 16px;
}

.board-table {
font-size: 13px;
width: 100%;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.board-table a {
color: #333;
display: inline-block;
line-height: 1.4;
word-break: break-all;
vertical-align: middle;
}
.board-table a:hover {
text-decoration: underline;
}
.board-table th {
text-align: center;
}

.board-table .th-num {
width: 100px;
text-align: center;
}

.board-table .th-date {
width: 200px;
}

.board-table th, .board-table td {
padding: 14px 0;
}

.board-table tbody td {
border-top: 1px solid #e7e7e7;
text-align: center;
}

.board-table tbody th {
padding-left: 28px;
padding-right: 14px;
border-top: 1px solid #e7e7e7;
text-align: left;
}

.board-table tbody th p{
display: none;
}

#success {
  position: absolute;
  top: 80%;
  left: 45%
}
#back {
  position: absolute;
  top: 80%;
  left: 55%;
}
/* reset */


.pagination {
      margin-top: 30%;
      margin-left: 38%;
}
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #DAE5D0;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #A0BCC2;
    color: black;
    border-radius: 5px;
  }
  
