@charset "UTF-8";

.accordianMenu p { 
    font-size: 40px;
}
#box {
    width: 1500px; 
    height: auto; 
    background-color: #f9ebc8;
    padding: 50px;
    margin-top: 100px;
    position: relative;
}  
#select { 
    width: 400px;
}  
#box2 { 
    width: 1400px; 
    height: 800px; 
    background-color: #fff;
    padding: 30px;
}
table {
    line-height: 40px; 
    font-size: 20px; 
    margin-top: 30px;
}
.modal-footer button {
    background-color: #dae5d0; 
}
.revise {
    position: absolute; 
    top: 80%; 
    left: 70%;
}
.x { 
    position: absolute; 
    top: 80%; 
    left: 83%;
} 