@charset "UTF-8";
.accordianMenu p {
    font-size: 40px;
}
.box1 {
    background: #f9ebc8;
    width: 1150px;
    height: 700px;
    margin: 45px;
    margin-top: 100px;
    border-radius: 20px; 
    padding: 20px;
}
.box3 { 
    background-color:rgb(255, 255, 255); 
    width: 1120px;
    height: 670px; 
    margin: center; 
    border-radius: 20px; 
    z-index: 10px; 
    position: relative;
}
.box3 ul li {
    font-size: 20px;
}
.im {
    list-style: none;
}
.im li img {
    width: 70px;
    height: 70px; 
    border: 1px solid #000; 
    margin-bottom: 35px;
}
.im:first-child { 
    position: absolute; 
    left: 30px; 
    top: 35px;
}
.box3 input {
    height: 70px; 
    font-size: 30px;
    margin-left: 5px; 
    border: 1px solid #000; 
    position: relative; 
    width: 600px;
}
.box3 input:first-child { 
    position: absolute; 
    top: 35px;
    left: 140px; 
}
.box3 input:nth-child(2) { 
    position: absolute; 
    top: 140px;
    left: 140px;
}
.box3 input:nth-child(3) { 
    position: absolute; 
    top: 245px;
    left: 140px;
}
.box3 input:nth-child(4) { 
    position: absolute; 
    top: 350px;
    left: 140px;
}
.box3 input:nth-child(5) { 
    position: absolute; 
    top: 455px;
    left: 140px;
}
#inputPassword { 
    width: 300px; 
    height: auto;
    margin-top: 80px;
}
.modal-footer button {
    background-color: #dae5d0; 
}
.revise {
    position: absolute; 
    top: 80%; 
    left: 75%;
}
.x { 
    position: absolute; 
    top: 80%; 
    left: 85%;
} 
input[type=password]{font-family: 'MalgunGothic';}
input[type=password]::placeholder{font-family: 'NanumSquare';}
