@charset "UTF-8";

#container {
    position: relative;
}    
#box {
    background-color: #f9ebc8;
    width: 1500px;
    height: auto; 
    border-radius: 30px;
    padding: 10px; 
    position: absolute; 
    left: 20%;
    margin: 100px;
}  
#box p {
    font-size: 80px; 
} 

.bt {
    position: absolute; 
    top: 70%; 
    left: 80%; 
    border-radius: 30px;
}