@charset "UTF-8";

.accordianMenu p {
    font-size: 40px;
}
#box {
    
    margin-top: 100px;
    background-color: #f9ebc8;
    width: 1500px;
    height: auto; 
    border-radius: 30px;
    padding: 10px;}  
#box1 {
    width: 1400px;
    height: 300px; 
    background-color: #fff; 
    margin: 40px;
    border-radius: 10px;
} 
#box2 {
    width: 1400px;
    height: 200px;
    background-color: #fff; 
    margin: 40px; 
    border-radius: 10px;
}