@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}

body {
  background-image: url("/allanimals/resources/upload/images/semi_mainlogo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 56.65vw;
  max-height: 100vh;
  max-width: 177.78vh;
}

header {
  width: auto;
  height: 60px;
}
.menulist {
  float: right;
  margin-right: 100px;
}
.menulist ul li {
  float: left;
  list-style: none;
  width: 200px;
  font-size: 2.2rem;
  margin-top: 60px;
  transition: all 0.2s linear;
  text-align: center;
  
}

.menulist a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: 0.2s;
}

.menulist a:hover {
  color: #a0bcc2;
}

.menulist li:hover {
  transform: scale(1.3);
}

.container {
  width: auto;
  height: 800px;
}

.footer {
  width: auto;
  height: 100px;
}

.logoClass {
  width: auto;
  height: 800px;
}

.logoClass img {
  position: relative;
  width: 750px;
  margin-top: 360px;
  margin-left: 580px;
}

.shake-vertical {
  -webkit-animation: shake-vertical 13s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-vertical 13s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  80% {
    -webkit-transform: translateY(8.5px);
    transform: translateY(8.5px);
  }
  90% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.help-btn {
  margin-left: 90px;
  margin-top: 85px;
  width: 150px;
  height: 70px;
  border-radius: 20px;
  border: none;
  background-color: #fd8585;
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.2s linear;
}

.help-btn:hover {
  transform: scale(1.3);
}
